html{
    display: flexbox;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flexbox;
    
    height: 100%;
}

#pageTitle {
    display: flexbox;
    text-align: center;
    
}

#navBar{
    display: flexbox;
    text-align: end;
    margin-right: 1em;
}

#formCmd{
    display: flexbox;
    text-align: center; 
}

#formSub{
    display: flexbox;
    text-align: center;  
}

table.tbl{
    
    margin-left: auto;
    margin-right: auto;
}   

.tblTitle{
    display: flexbox;
    text-align: center;
}
   



#info {
    display: flexbox;
    text-align: center; 
}

#footer {
    display: flexbox;
    background-color: cornflowerblue;
    justify-content: flex-end;
    height:2em;
}


