html{
    display: flexbox;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color:aliceblue;
    background-color: black;
}

body {
    display:flexbox;
    
    height: auto;
}



#pageTitle {
    display: flexbox;
    text-align: center;
    
}

#navBar{
    display: flexbox;
    text-align: end;
    margin-right: 1em;
}


.rotate{
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#formCmd{
    display: flexbox;
    text-align: center; 
}

#formSub{
    display: flexbox;
    text-align: center;  
}

#threeGlobeDiv{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:100%;
}
#threeGlobe{
    
}

table.tbl{
    
    margin-left: auto;
    margin-right: auto;
}   

.tblTitle{
    display: flexbox;
    text-align: center;
}

.bookLogicTitles{
    display: flexbox;
    text-align: center;
}
   
.bookLogic{
    display: flexbox;
    text-align: left;
    padding-left: 2em;
}


#info {
    display: flexbox;
    text-align: center; 
}

#footer {
    display: flexbox;
    background-color: cornflowerblue;
    justify-content: flex-end;
    height:2em;
}


